name: Test Action

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test-correct:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test action
        uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          description_template_filepath: '.github/templates/deployment.md'
